<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Schematic Dependency Checker</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Social Embed preview -->
    <meta property="og:title" content="Schematic Dependency Checker">
    <meta property="og:description" content="Upload Minecraft schematics (Create mod) to instantly see which mods they depend on.">
    <meta property="og:image" content="https://blackcat64.github.io/create-schematic-dependency-checker/images/schematic.png">
    <meta property="og:url" content="https://blackcat64.github.io/create-schematic-dependency-checker">
    <meta property="og:type" content="website">
</head>
<body>
    <header class="navbar">
        <div class="navbar-container">
            <nav class="navbar-links">
                <div class="profile-links">
                    <img src="images/discord-pfp-square.jpg" alt="BlackCat64">
                    <strong>BlackCat64</strong>
                    <a href="https://github.com/BlackCat64" target="_blank">
                        <img src="images/github.png" alt="GitHub" title="BlackCat64 on GitHub">
                    </a>
                    <a href="https://www.curseforge.com/members/blackcat64/projects" target="_blank">
                        <img src="images/curseforge.png" alt="CurseForge" title="BlackCat64 on CurseForge!">
                    </a>
                </div>

                <a href="https://createmod.com/" class="nav-link standard" target="_blank">CreateMod.com</a>
            </nav>
            <h1 class="navbar-title">Schematic Dependency Checker</h1>
            <span class="navbar-padding"></span>
        </div>
    </header>
    <div class="outer-container">
        <div class="promo">
            <p class="promo-title">Check out my mods on CurseForge!</p>
            <a class="mod-link" href="https://www.curseforge.com/minecraft/mc-mods/better-tools-and-armor" target="_blank">
                <p>Better Tools and Armor</p>
                <img src="https://media.forgecdn.net/attachments/1231/143/better-tools-and-armor-main-promo-image-12-0-png.png" alt="Better Tools and Armor">
            </a>
            <a class="mod-link" href="https://www.curseforge.com/minecraft/mc-mods/big-signs" target="_blank">
                <p>Big Signs</p>
                <img src="https://media.forgecdn.net/attachments/1039/41/big-signs-cover-photo.png" alt="Big Signs">
            </a>
        </div>

        <div class="container">
            <div class="title">
                <img src="images/schematic.png" alt="Schematic">
                <p>Upload a Schematic (.nbt) File</p>
            </div>

            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file" accept=".nbt"/>
                <button type="submit">Upload</button>
            </form>

            <div id="result">
                <div id="loading-spinner" class="loading-spinner"></div>
                <div id="output"></div>
            </div>
        </div>

        <span class="outer-padding"></span>
    </div>
    <script src="js/upload.js"></script>
</body>
</html>
